<div class="container">
    <nav class="navbar navbar-expand-md" style="padding-bottom: 0px; height: 61px">
        <div class="collapse navbar-collapse menu__ul-layout">
            <ul class="navbar-nav">
                <li class="nav-item dropdown mr-5 d-flex align-items-center">
                    <a class="nav-link menu__ul-font" href="" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">HOME</a>
                    <ul class="dropdown-menu menu__ul-position" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item menu-item__a-background">SLIDER COVER</a></li>
                        <li><a class="dropdown-item menu-item__a-background">MAP COVER</a></li>
                        <li><a class="dropdown-item menu-item__a-background">VIDEO COVER</a></li>
                        <li><a class="dropdown-item menu-item__a-background">CLASSIC COVER</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mr-5 d-flex align-items-center">
                    <a href="" class="nav-link menu__ul-font" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">LAYOUTS</a>
                    <ul class="dropdown-menu menu__ul-position" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item menu-item__a-background">SIDEBAR</a></li>
                        <li><a class="dropdown-item menu-item__a-background">WITHOUT SIDEBAR</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mr-5 d-flex align-items-center">
                    <a href="" class="nav-link menu__ul-font" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">POSTS</a>
                    <ul class="dropdown-menu menu__ul-position" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow" style="width: 10em">LAYOUT</a>
                            <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item menu-item__a-background">COVER MAP</a></li>
                                <li><a class="dropdown-item menu-item__a-background">COVER STREET VIEW</a></li>
                                <li><a class="dropdown-item menu-item__a-background">COVER IMAGE</a></li>
                                <li><a class="dropdown-item menu-item__a-background">CLASSIC</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow" style="width: 10em">SIDEBAR</a>
                            <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item menu-item__a-background">RIGHT SIDEBAR</a></li>
                                <li><a class="dropdown-item menu-item__a-background">LEFT SIDEBAR</a></li>
                                <li><a class="dropdown-item menu-item__a-background">NO SIDEBAR</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow" style="width: 10em">FORMATS</a>
                        <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item menu-item__a-background">GALLERY COVER SLIDER</a></li>
                            <li><a class="dropdown-item menu-item__a-background">GALLERY SLIDER</a></li>
                            <li><a class="dropdown-item menu-item__a-background">GALLERY GRID</a></li>
                            <li><a class="dropdown-item menu-item__a-background">VIDEO POST</a></li>
                            <li><a class="dropdown-item menu-item__a-background">AUDIO POST</a></li>
                        </ul>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow" style="width: 10em">MORE</a>
                            <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item menu-item__a-background">PAGINATED POST</a></li>
                                <li><a class="dropdown-item menu-item__a-background">POST WITH COMMENTS</a></li>
                                <li><a class="dropdown-item menu-item__a-background">AIRBNB EMBED</a></li>
                                <li><a class="dropdown-item menu-item__a-background">VIMEO VIDEO</a></li>
                                <li><a class="dropdown-item menu-item__a-background">BUILT-IN VIDEO PLAYER</a></li>
                                <li><a class="dropdown-item menu-item__a-background">SOUNDCLOUD EMBED</a></li>
                                <li><a class="dropdown-item menu-item__a-background">FACEBOOK EMBED</a></li>
                                <li><a class="dropdown-item menu-item__a-background">TWITTER EMBED</a></li>
                                <li><a class="dropdown-item menu-item__a-background">INSTAGRAM EMBED</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item mr-5 d-flex align-items-center">
                    <a href="" class="nav-link">
                        <img src="https://mksdmcdn-9b59.kxcdn.com/trawell/wp-content/themes/trawell/assets/img/trawell_logo_white.png"
                            alt="">
                    </a>
                </li>
                <li class="nav-item dropdown mr-5 d-flex align-items-center">
                    <a href="" class="nav-link menu__ul-font" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">ARCHIVES</a>
                    <ul class="dropdown-menu menu__ul-position" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow">CATEGORY</a>
                            <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item menu-item__a-background">COVER MAP</a></li>
                                <li><a class="dropdown-item menu-item__a-background">COVER IMAGE</a></li>
                                <li><a class="dropdown-item menu-item__a-background">CLASSIC</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background">TAG</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background">AUTHOR</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background">SEARCH RESULTS</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown mr-5 d-flex align-items-center">
                    <a href="" class="nav-link menu__ul-font" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">PAGES</a>
                        <ul class="dropdown-menu menu__ul-position" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow">LAYOUT</a>
                                <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item menu-item__a-background">COVER IMAGE</a></li>
                                    <li><a class="dropdown-item menu-item__a-background">CLASSIC</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow">SIDEBAR</a>
                                <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item menu-item__a-background">RIGHT SIDEBAR</a></li>
                                    <li><a class="dropdown-item menu-item__a-background">LEFT SIDEBAR</a></li>
                                    <li><a class="dropdown-item menu-item__a-background">NO SIDEBAR</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item menu-item__a-background">AUTHORS PAGE</a>
                        </ul>
                </li>
                <li class="nav-item dropdown mr-5 d-flex align-items-center">
                    <a href="" class="nav-link menu__ul-font" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">FEATURES</a>
                    <ul class="dropdown-menu menu__ul-position" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item menu-item__a-background ">STYLE GUIDE</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background">WORDPRESS 5 BLOCKS</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background menu-item__side-arrow">HEADERS</a>
                            <ul class="dropdown-menu menu__ul-position-second" aria-labelledby="navbarDropdownMenuLink" style="left:-7.2em !important">
                                <li><a class="dropdown-item menu-item__a-background">EXAMPLE 1</a></li>
                                <li><a class="dropdown-item menu-item__a-background">EXAMPLE 2</a></li>
                                <li><a class="dropdown-item menu-item__a-background">EXAMPLE 3</a></li>
                                <li><a class="dropdown-item menu-item__a-background">EXAMPLE 4</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background ">CUSTOM WIDGETS</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background ">SHORTCODES</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background ">CONTACT</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background ">404 PAGE</a>
                        </li>
                        <li><a class="dropdown-item menu-item__a-background ">SHOP (WOO COMMERCE)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>